
.submit-note{
  bottom: 15px;
  right: 10px;

}

button img {
  width: 35px;
  height: 35px;
}
button.close {
  top: -19px;
  right: -19px;
}
button:hover {
  background: #ffffff;
  border-color: #9f3200;
}